<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
        <div class="conteiner">
            <div class="body-de-form">
                <h4>Ingrese los datos del Producto</h4>
                <form action="/products/create" method="post" enctype="multipart/form-data" id="formProducto">
                    <p>
                        <input class="datos-producto" type="file" name="image" id="imagenProducto">
                    </p>
                    <span class="text-danger" id ="errorImagen">

                    </span>
                    <div>
                        <span class="text-danger" id ="errorMarca" <%= (typeof errores != 'undefined' && errores.marca)?errores.marca.msg: "" %>></span>
                        <p>
                            <input class="datos-producto" type="text" name="marca" id="marca"
                            placeholder="Ingrese la marca del producto">
                        </p>
                    </div>
                        
                    
                    <div>
                        <span class="text-danger" id ="errorDescripcion" <%= (typeof errores != 'undefined' && errores.descripcion)?errores.descripcion.msg: "" %>></span>
                        <p>
                            <textarea name="descripcion" id="descripcion" cols="20" rows="5"
                                placeholder="Descripcion del producto"></textarea>
                        </p>
                    </div>  
                    
                    <div>
                        <span class="text-danger" id ="errorNombre"></span>
                        <p>
                            <input class="datos-producto" type="text" name="nombre" id="nombre"
                                placeholder="Ingrese el nombre del producto">
                        </p>
                    </div>
                    
                    <div>
                        <span class="text-danger" id ="errorPrecio"> </span>
                        <p>
                            <input class="datos-producto" type="number" name="precio" id="precio"
                                placeholder="Ingrese el precio del producto">
                        </p>
                    </div>
                    <div>
                        <span class="text-danger" id ="errorDescuento"></span>
                        <p>
                            <input class="datos-producto" type="number" name="descuento" id="descuento"
                                placeholder="Ingrese el descuento del producto">
                        </p>
                    </div>
                    <div>
                        <p> 
                                Estado del producto
                                <select name="estado" id="">
                                    <option value = "sin-estado"selected>Sin estado</option>
                                    <option value = "pmv">PMV</option>
                                    <option value = "oferta">Oferta</option>
                                </select>
                        </p>
                    
                    </div>
                    <div>
                        <p>
                                Categoría del producto
                                <select name="categoria" id="">
                                    <option value ="escolar" selected>Escolar</option>
                                    <option value = "oficina">Oficina</option>
                                    <option value = "artistica">Artística</option>
                                </select>
                        </p>
                    </div>
                    <div>
                        <input class="botones" type="submit" value="Subir producto">
                        <small id="msgError" class="text-danger"></small>
                    </div>
                    <input class="botones" type="reset" value="Borrar todo">
                </form>
            </div>
        </div>
        <%- include('partials/footer') %>
    </body>

</html>