<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
        <div class="conteiner">
            <div class="body-de-form">
                <h4>Ingrese los datos del Producto</h4>
                <form action="/products/create" method="post" enctype="multipart/form-data" id="formProducto">
                    <div>
                        <label for="marca"></label>
                        <span class="text-danger" id ="errorMarca"> <%= (typeof errors != 'undefined' && errors.marca)?errors.marca.msg: "" %></span>
                        <p>
                            <input class="datos-producto form-control <%= (typeof old != 'undefined' && old.marca && !errors.marca)?"is-valid":(typeof errors != 'undefined' && errors.marca)?"is-invalid": ""  %>"
                            type="text" name="marca" id="marca"  placeholder="Ingrese la marca del producto"
                            value = "<%= (typeof old != 'undefined' && old.marca)?old.marca:''%>">
                        </p>
                    </div>
                        
                    
                    <div>
                        <label for="descripcion"></label>
                        <span class="text-danger" id ="errorDescripcion"> <%= (typeof errors != 'undefined' && errors.descripcion)?errors.descripcion.msg: "" %></span>
                        <p>
                            <textarea name="descripcion" id="descripcion" placeholeder = "Descripcion del producto" cols="20" rows="5"class="
                            datos-producto form-control <%= (typeof old != 'undefined' && old.descripcion && !errors.descripcion)?"is-valid":(typeof errors != 'undefined' && errors.descripcion)?"is-invalid": ""  %>"><%= (typeof old != 'undefined' && old.descripcion)?old.descripcion:'' %></textarea>
                        </p>
                    </div>  
                    
                    <div>
                        <label for="nombre"></label>
                        <span class="text-danger" id ="errorNombre"><%= (typeof errors != 'undefined' && errors.nombre)?errors.nombre.msg: "" %></span>
                        <p>
                            <input class="datos-producto form-control <%= (typeof old != 'undefined' && old.nombre && !errors.nombre)?"is-valid":(typeof errors != 'undefined' && errors.nombre)?"is-invalid": ""  %>"
                             type="text" name="nombre" id="nombre" placeholder="Ingrese el nombre del producto"
                             value = "<%= (typeof old != 'undefined' && old.nombre)?old.nombre:''%>">
                            
                        </p>
                    </div>
                    
                    <div>
                        <p>
                            <span class="text-danger" id ="errorPrecio"> <%= (typeof errors != 'undefined' && errors.precio)?errors.precio.msg: "" %> </span>
                            <label for="precio"></label>
                            <input class="datos-producto form-control <%= (typeof old != 'undefined' && old.precio && !errors.precio)?"is-valid":(typeof errors != 'undefined' && errors.precio)?"is-invalid": ""  %>" 
                            value = "<%= (typeof old != 'undefined' && old.precio)?old.precio:''%>"
                            type="number" name="precio" id="precio" placeholder="Ingrese el precio del producto">
                        </p>
                    </div>
                    <div>
                        <label for="descuento"></label>
                        <span class="text-danger" id ="errorDescuento"> <%= (typeof errors != 'undefined' && errors.descuento)?errors.descuento.msg: "" %></span>
                        <p>
                            <input class="datos-producto form-control <%= (typeof old != 'undefined' && old.descuento && !errors.descuento)?"is-valid":(typeof errors != 'undefined' && errors.descuento)?"is-invalid": ""  %>" 
                            type="number" name="descuento" id="descuento" placeholder="Ingrese el descuento del producto"
                            value ="<%= (typeof old != 'undefined' && old.descuento)?old.precio:''%>">
                        </p>
                    </div>
                    <div>
                        <p> 
                                Estado del producto
                                <select name="estado" id="">
                                    <option value = "sin-estado"selected>Sin estado</option>
                                    <option value = "pmv">PMV</option>
                                    <option value = "oferta">Oferta</option>
                                </select>
                        </p>
                    
                    </div>
                    <div>
                        <p>
                                Categoría del producto
                                <select name="categoria" id="">
                                    <option value ="escolar" selected>Escolar</option>
                                    <option value = "oficina">Oficina</option>
                                    <option value = "artistica">Artística</option>
                                </select>
                        </p>
                    </div>
                    <div>
                        <span class="text-danger" id ="errorImagen"> 
                            <%= (typeof errors != 'undefined' && errors.imagen)?errors.imagen.msg: "" %> 
                        </span>

                        <p>
                            <input class="datos-producto" type="file" accept="image/png, .jpeg, .jpg, image/gif" name="imagen" id="imagenProducto">
                            <img id = "preview" alt="" class="w-75">
                        </p>
                    </div>

                    <div>
                        <input class="botones" type="submit" value="Subir producto">
                        <small id="msgError" class="text-danger"></small>
                    </div>
                    <input class="botones" type="reset" value="Borrar todo">
                </form>
            </div>
        </div>
        <%- include('partials/footer') %>
    </body>

</html>