<!DOCTYPE html>
<html lang="es">

<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
        <div class="container">
                <div class="row">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/images/productos/<%= producto.image %>" alt="Card image cap">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><%= producto.nombre %></li>
                            <li class="list-group-item"><%= producto.categoria %></li>
                            <li class="list-group-item"><%= producto.precio %></li>
                        </ul>
                    </div>
                    <div class="card texto">
                        <p class="card-text"><%= producto.descripcion %></p>
                    </div>    
                </div>
            </div>
            <%- include('partials/footer') %>
    </body>

</html>