<!DOCTYPE html>
<html lang="es">

<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
            <div class="row productoElegido">
                <div class="titulo">
                    <h1>
                        <%= title %>
                    </h1>
                </div>
                <section class="principal">
                    <div class="producto">
                        <div class="row productoDetalle">
                            <div class="col-8 col-md-6 col-xl-10">

                                <h2 class="productoNombre">
                                    <%= producto.nombre%>
                                </h2>

                                <img src="/images/productos/<%= producto.image %>.jpg" alt="" class="imgProducto">
                                <p class="productoDescripcion">
                                    <%= producto.descripcion %>
                                </p>
                            </div>
                            <div class="datosProducto ">

                                <span>
                        <span class="tachado">
                    $<%= producto.precio.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ". ") %>
                        </span>
                                <strong class="productoDescuento">
                              <%= producto.descuento %>  % OFF
                        </strong>
                                </span>
                                <h2 class="productoPrecio">
                                    $
                                    <%- (producto.precio - producto.precio * producto.descuento / 100).toFixed(0)%>
                                </h2>
                            </div>
                        </div>

                    </div>

                    <div class="boton">
                        <button type="submit">Agregar producto</button>
                    </div>
                </section>

            </div>



            <%- include('partials/footer') %>

    </body>

</html>