<!DOCTYPE html>
<html lang="es">

<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>

            <div class="container-fluid">
                <section>
                    <div class="row productos">
                        <div class="col-12 titulo">
                            <h2>¡Bienvenidos! a la libreria online D-RAJE</h2>
                        </div>
                        <% productos.forEach(producto =>{ %>
                        <div class="col-12 col-md-4 col-lg-2">
                            <div class="contenido">
                                <figure>
                                    <a href=""><img src="/images/productos/<%= producto.image %>" alt="" /></a>
                                </figure>
                                <article >
                                    <h2 class="nph"><%= producto.nombre%></h2>
                                    <button class="button-ver-mas"><a href="/products/detalle/<%= producto.id%>"class="ver-mas"><i> Ver mas </i><a></button>
                                    <a href=" " class="prec"><i> $<%= producto.precio %> </i></a>
                                </article>
                            </div>
                        </div>
                        <% })%>
                    
                </section>
            </div>

            <%- include('partials/footer') %>

    </body>

</html>