<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %> 
    <div id= "formulario">
        <form action="" id="loginForm" method="POST">
            <div>
             <input type="email"
                class = "correo" id="correo" placeholder="Correo" 
                name="correo"
                <%= (typeof old != 'undefined' && old.correo && !error.correo)?"is-valid":
                (typeof error != 'undefined' && error.correo)?"is-invalid":'' %>" 
                value="<%= (typeof old != 'undefined' && old.correo)?old.correo:'' %>">
                <small class="text-danger" id="errorCorreo">
                    <%= (typeof error != 'undefined' && error.correo)?error.correo.msg: "" %> 
                </small>
            </div>
            <div>
                <input type="password" class = "password" 
                    id="pass" placeholder="Contraseña" name="password"
                    <%= (typeof error != 'undefined' && error.pass)?"is-invalid":'' %>">
                <small class="text-danger" id="errorPass">
                    <%= (typeof error != 'undefined' && error.pass)?error.pass.msg: "" %> 
                </small>
            </div>

            <input type="submit" id="ingresar" value="Ingresar" disabled>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" name="recordar">
                <label class="form-check-label" for="exampleCheck1">Recordarme</label>
            </div>
                <small id="msgError" class="text-danger"></small>
            </div>
            <div>
                <a class="btn btn-light btn-lg btn-block" href="/users/register" role="button">¿No tienes cuenta? Registrate </a>
            </div>
        </form>
    </div>
    <%- include('partials/footer') %> 
</body>
</html>