<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <div class="container-fluid">
      <div class="row">
    <% productos.forEach(producto => { %>
      <div class="card class=col-12 col-md-4 col-xl-6">
          <img class="card-img-top" src="/images/productos/<%= producto.image %>" height="400" width="200" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><%= producto.nombre%></h5>
                  <p class="card-text"><%= producto.descripcion %> </p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><%= producto.marca %></li>
                <li class="list-group-item">$<%= producto.precio %></li>
                <li class="list-group-item"><%= producto.descuento %>  % OFF</li>
              </ul>
              <% if (typeof user !== "undefined" && user.categoria == 'admin') { %>
              <div class="botones">
                <a class="btn btn-danger" href="/products/show/<%=producto.id %>" role="button">Eliminar</a>
                <a class="btn btn-warning" href="/products/edit/<%=producto.id %>" role="button">Editar</a>
              </div>
              <% } %>
            </div>
          </div>
    <% }) %>
  </div>
</div>
<%- include('partials/footer') %>
</body>
</html>