<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
    <body>
        <%- include('partials/header') %>
        <img src="/images/usuarios/<%= user.image%>" alt="">
        <h1> Bienvenido <%= user.alias%></h1>
        <form action="/users/update/<%= user.id %>?_method=PUT" method = "POST" enctype="multipart/form-data">
            <div class="row">
                <input type="file" name="image" id="">
            </div>
            <label for="nombe">Nombre</label>
            <input type="text" name="nombre" id="" value="<%= user.nombre%>">
            <label for="apellido"></label>
            <input type="text" name="apellido" id="" value = "<%= user.apellido%>">
            <label for="correo"></label>
            <input type="email" name="correo" id="" value = "<%= user.correo%>">
            <button type="submit" class="btn-sm btn-success">Actualizar mis datos</button>
        </form>
        <form action="/users/delete/<%= user.id%>?_method=delete" method="post">
            <button type="submit" class="btn-sm btn-danger">Dar de baja mi cuenta</button>
        </form>


        <%- include('partials/footer') %>
    
</body>
</html>