<!DOCTYPE html>
<html lang="es">

<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
            <div class="container">
                <h1><span>Registrarme</span></h1>
                <div class="agrupacion">
                    <!--todo el formulario esta dentro de este div-->
                    <form action="#" method="POST" enctype="multipart/form-data" id="registerForm" autocomplete= 'off'>
                        <div>
                            <label for="correo">Ingrese su correo:</label>
                            <input type="email" name="correo" id="correo" 
                            class="form-control <%= (typeof old != 'undefined' && old.correo && !errores.correo)?"is-valid":(typeof errores != 'undefined' && errores.correo)?"is-invalid": ""  %>"
							value="<%= (typeof old != 'undefined' && old.correo)?old.correo:'' %>"
							name="correo" />
							<small
							class="text-danger" id="errorCorreo"><%= (typeof errores != 'undefined' && errores.correo)?errores.correo.msg: "" %>
							</small>
                        </div>
                        <div>
                            <label for="password">Ingrese su contraseña:</label>
                            <input type="password" name="password" id="pass1"
                            class="form-control" <%= (typeof errores != 'undefined' && errores.password)?"is-invalid": ""  %>/>
							<small
								class="text-danger" id="errorPass"><%= (typeof errores != 'undefined' && errores.password)?errores.password.msg: "" %>
							</small>
                        </div>
                        <div>
                            <label for="password2">Repetir contraseña:</label>
                            <input type="password" name="password2" id="pass2"
                            class="form-control <%= (typeof errores != 'undefined' && errores.password2)?"is-invalid": ""  %>"
							name="password2" />
							<small
								class="text-danger" id="errorPass2"><%= (typeof errores != 'undefined' && errores.password2)?errores.password2.msg: "" %>
							</small>
                        </div>
                        <div>
                            <label for="nombre">Ingrese su nombre:</label>
                            <input type="text" class="form-control" name="nombre" id="nombre"
                            class="form-control <%= (typeof old != 'undefined' && old.nombre)?"is-valid":(typeof errores != 'undefined' && errores.nombre)?"is-invalid": ""  %>"
                            value="<%= (typeof old != 'undefined' && old.nombre)?old.nombre:'' %>"/>
							<small
								class="text-danger" id="errorNombre"><%= (typeof errores != 'undefined' && errores.nombre)?errores.nombre.msg: "" %>
							</small>
                        </div>
                        <div>
                            <label for="apellido">Ingrese su apellido:</label>
                            <input type="text" 
							    class="form-control " <%= (typeof old != 'undefined' && old.apellido)?"is-valid":(typeof errores != 'undefined' && errores.apellido)?"is-invalid": ""  %>"
								id="apellido" value="<%= (typeof old != 'undefined' && old.apellido)?old.apellido:'' %>"
								name="apellido" />
								<small
								    class="text-danger" id= "errorApellido"><%= (typeof errores != 'undefined' && errores.apellido)?errores.apellido.msg: "" %>
								</small>
                        </div>
                        <div>
                                <input type="file" accept="image/png, .jpeg, .jpg, image/gif" class="form-control"   <%= (typeof old != 'undefined' && old.imagen)?"is-valid":(typeof errores != 'undefined' && errores.imagen)?"is-invalid": ""  %>"
                                 id="imagen" name = "imagen" style="color:transparent;">
                                <label for="imagen"></label>
                                <div>
                                <img id="preview" src= "/images/usuarios/imgDeffault.jpg" alt="" height="100" width="100" />
                                </div>
                                <small class="text-danger" id="errorImagen">
                                <%= (typeof errores != 'undefined' && errores.imagen)?errores.imagen.msg: "" %> 
                                </small>
                            </div>
                    <div class="custom-control custom-checkbox">
                            <input type="checkbox"
                            class="custom-control-input <%= (typeof old != 'undefined' && old.byc)?"is-valid":(typeof errores != 'undefined' && errores.byc)?"is-invalid": ""  %>"
                            id="byc" name="byc">
                        <label class="custom-control-label" for="byc">Acepto los términos y condiciones</label><br>
                        <a onclick= "window.open('/terminosycondiciones', '_blank')" class="text-info">Ver términos y condiciones</a><br>

                        <small
                            class="text-danger" id="errorAbc"><%= (typeof errores != 'undefined' && errores.bases)?errores.byc.msg: "" %>
                        </small>
                    </div>
                    
                        <div class="boton-registro">
                            <button>Registrarme</button>
                            <small id="msgError" class="text-danger"></small>
                        </div>
                    </form>
                </div>
                <div class="cuentaExistente">
                    <p>¿Tienes una cuenta?<a href="/users/login">Iniciar sesión</a></p>
                </div>
            </div>
            <%- include('partials/footer') %>

    </body>

</html>